body {
    background: #f8f8fa
}

label {
    margin-right: 8px;
}

select {
    margin-top: 2px;
    margin-bottom: 9px;
    border: 1px solid #aaa;
    background-color: #ffffff;
    width: 135px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:20px;
    background-color: #424553;
    color: white;
}

td {
    padding-left: 10px;
    padding-right:20px;
    padding-bottom: 5px;
}

.button {
    background-color: #d2d4dc;
}

.content-centre {
    display: flex;
    justify-content: center;
}

.btn-group {
    background-color: #424553;
}

.btn-group .button {
    background-color: #424553;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 0px;
}

#invalid-text {
    display: none; 
    color: red
}

#empty-text {
    display: none;
}