<!DOCTYPE html>
<html>
    <head>
        <title>The amazing BrIW</title>
    </head>
    <body background="sparkle.gif">
        <h1 align="center" style="color:rgb(255, 0, 242);background-color: rgb(251, 255, 0); font-size:50px">BrIW v0.1</h1>
        <marquee bgcolor="00FFEC" scrollamount="20">
            <a href="./about.html" style="background-color: rgb(47, 0, 255); font-size: 30px;">Learn more</a>
            <img src="opportunity-fish.jpg">
            <p>Follow the fish</p>
        </marquee>
        <h2 style="color:rgb(255, 0, 242);background-color: rgb(251, 255, 0); font-size:30px">Some Screenshots:</h2>
        <div style='background-image:url("matrix.gif")'>
            <img src="home screenshot.png">
            <img src="people.png">
            <img src="drinks.png">
            <img src="table_screenshot.png">
        </div>
    </body>
</html>